<form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && registerSubmited()"
>
  <div>
    <label for="id">id</label>
    <input readonly="readonly" [(ngModel)]="organismes.id" [value]="organismes.id" type="text" class="form-control" id="id" aria-describedby="emailHelp"
           placeholder="Enter id"
           formControlName="id">
  </div>
  <div>
    <label for="libelle">libelle</label>
    <input [(ngModel)]="organismes.libelle" [value]="organismes.libelle" type="text" class="form-control" id="libelle" placeholder="libelle"
           formControlName="libelle">
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>


