<div class="pos">
  <button class=" btn btn-secondary"><a class="btnA" href="http://localhost:4200/createUser">Ajouter un user</a></button>
</div>
<table style="text-align: center;" class="table table-striped ">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Email</th>
    <th scope="col">username</th>
    <th scope="col">Role</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>ghofran.maalej@etudiant-isi.utm.tn</td>
    <td>ghofran</td>
    <td>ROLE_USER</td>
    <td>
      <button  type="submit" class="btn btn-secondary">
        Modifier
      </button>
      &nbsp;&nbsp;&nbsp;
      <button  type="submit" class="btn btn-secondary">Supprimer
      </button>
    </td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td>maalej.ghofran.sofien@gmail.com</td>
    <td>maalej</td>
    <td>ROLE_ADMIN</td>
    <td>
      <button  type="submit" class="btn btn-secondary">
        Modifier
      </button>
      &nbsp;&nbsp;&nbsp;
      <button  type="submit" class="btn btn-secondary">Supprimer
      </button>
    </td>
  </tr>

  </tbody>
</table>
