<br>
<br><br>
<div style="text-align: center" class="top container">
  <div class="row">
    <div class="col" style="background-color:#f8f9fa">
      <h2>Modifier un user </h2>
      <form
      >
        <div style="text-align: left">
          <label for="email">Email</label>
          <input  type="text" class="form-control" id="email"
                  placeholder="email" formControlName="libelle">
        </div>
        <div style="text-align: left">
          <label for="username">username</label>
          <input  type="text" class="form-control" id="username"
                  placeholder="username" formControlName="libelle">
        </div>
        <div style="text-align: left">
          <label for="password">Password</label>
          <input  type="password" class="form-control" id="password"
                  placeholder="password" formControlName="libelle">
        </div>
        <div style="text-align: left">
          <label for="cpassword">Confirmer Password</label>
          <input  type="password" class="form-control" id="cpassword"
                  placeholder="Confirmer password" formControlName="libelle">
        </div>

        <div style="text-align: left">
          <label for="cpassword">Confirmer Password</label>
        </div>
        <select  class="form-select"name="role" id="role">
          <option value="cat">ROLE_ADMIN</option>
        </select>

        <div style="text-align: right !important;"
             class="top">
          <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

